body {

    background: linear-gradient(
            135deg,
            #1f2937,
            #111827
    );

    color: white;

}

.card {

    border-radius: 14px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

}

.list-group-item {

    background:#1f2937;
    color:white;
    border:none;

}

.btn-success {
    background:#22c55e;
}

.btn-primary {
    background:#3b82f6;
}

#chatBox {

    height:200px;
    overflow:auto;
    background:#111827;
    padding:10px;
    border-radius:10px;

}

.toast {

    background:#3b82f6;
    color:white;

}