<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="../student/dashboard.html">ClassRoom</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/student/dashboard.html">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/student/course.html">Courses</a></li>
                <li class="nav-item"><a class="nav-link" href="/student/task.html">Assignments</a></li>
                <li class="nav-item"><a class="nav-link" href="/student/student-layout.html">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
